a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover{
    color: darkgoldenrod;
}
header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}
header nav img{
    height: 25px;
}

#cartAmount{
    background-color: rgb(51, 50, 50);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
}